<%= simple_form_for(@lecture) do |f| %>
  <%= f.input :name %>
  <%= f.input :grade %>
  <%= f.input :major_id, :collection => Major.all.collect {|c| [c.name, c.id]} %>

  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
