<div class="row">
  <% @lectures.each do |lecture| %>
      <div class="tak col-sm-5">
          <div class="tak-head">
              GAME
          </div>

          <div class="tak-circle">
              <p><%= makeGradeString(lecture) %></p>
          </div>

          <div class="tak-content">
              <p><%= lecture.name %> / <%= Major.find_by_id(lecture.major_id).name %></p>
              <p>content!!!</p>
              <p><%= link_to 'Edit', edit_lecture_path(lecture) %></p>

          </div>
      </div>
      <div class="col-sm-1"></div>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to '평가하고 싶다!', new_review_path %>
<% end %>

<br>

<% if current_admin? %>
  <%= link_to '강의 추가하기', new_lecture_path %>
<% end %>