<!DOCTYPE html>
<html>
<head>
  <title>KPU Bunker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar" class="hidden-xs col-sm-2 sidebar-offcanvas" role="navigation">
      <%= render 'layouts/nav_left' %>
  </div>

  <div id="main" class="col-xs-12 col-sm-10" role="main">
      <%= yield %>
  </div>
</body>
</html>
